{% extends 'base.html' %}

{% block content %}
<div class="info">
    Aplicativo para ocultação a revelação de mensagens escondidas em imagens.<br />Escolha a opção desejada
</div>
    <div class="options">
        <div class="encode">
            <a href="/encode">
                <button>
                    Codificar Mensagem
                </button>
            </a>
        </div>
        <div class="decode">
            <a href="/decode">
                <button>
                    Decodificar Mensagem
                </button>
            </a>
        </div>
    </div>
{% endblock %}